[merge]
	tool = vimdiff
[user]
	name = zebult
	email = saichi.suzuki@gmail.com
[mergetool]
	keepBackup = false
[alias]
    tree = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
[core]
	excludesfile = $HOME/.gitignore_global
	attributesfile = $HOME/.gitattributes
[diff "image"]
	command = ~/.bin/sh/git-imgdiff
[http]
	postBuffer = 524288000
